<style type="text/css">
    html, body {
        color: lightgray;
        background-color: #333;
        font-family: 'Noto Sans', sans-serif;
    }

    body {
        margin: 40px auto;
        max-width: 800px;
        line-height: 1.6;
        font-size: 18px;
        padding: 0 10px;
    }

    h1, h2, h3 {
        line-height: 1.2;
    }

    a {
        color: lightblue;
        text-decoration: none;
    }

    a:visited {
        color: mediumpurple;
    }

    .title {
        text-align: center;
        padding-bottom: 20px;
    }

    .news-item {
        padding-bottom: 10px;
    }

    .news-description {
        text-align: justify;
    }

    .news-meta {
        color: gray;
        font-size: 14px;
        text-align: right;
    }

    .news-also {
        color: #888;
        font-size: 13px;
        text-align: right;
    }
</style>
